.finetune-element {
  box-sizing: border-box;
  user-select: none;
}

.finetune-element.selected {
  outline: 2px solid #4a90e2;
  outline-offset: 1px;
}

.finetune-element-empty {
  width: 100%;
  height: 100%;
  background: #e0e0e0;
  border: 2px dashed #aaa;
  box-sizing: border-box;
}

/* 8 resize handles */
.resize-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 2px solid #4a90e2;
  border-radius: 2px;
  box-sizing: border-box;
}

.handle-nw { top: -5px;   left: -5px;   }
.handle-n  { top: -5px;   left: calc(50% - 5px); }
.handle-ne { top: -5px;   right: -5px;  }
.handle-e  { top: calc(50% - 5px); right: -5px; }
.handle-se { bottom: -5px; right: -5px; }
.handle-s  { bottom: -5px; left: calc(50% - 5px); }
.handle-sw { bottom: -5px; left: -5px;  }
.handle-w  { top: calc(50% - 5px); left: -5px; }

/* Rotate handle */
.rotate-handle {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #4a90e2;
  border: 2px solid #fff;
  border-radius: 50%;
  top: -30px;
  left: calc(50% - 6px);
  cursor: grab;
  box-sizing: border-box;
}

.rotate-handle::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  background: #4a90e2;
  left: calc(50% - 1px);
  top: 100%;
}
